<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <%- include("nav.ejs")%>
    <h3><%= result.title %></h3>
    <h6><%= result.content %></h6>
  </body>
</html>
