<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>수정하기</title>
    <link rel="stylesheet" href="/main.css" />
  </head>
  <body>
    <%- include("nav.ejs")%>

    <form action="/edit?_method=PUT" method="POST" class="wrtieForm">
      <h4>수정하기</h4>
      <input name="id" value="<%=result._id%>" />
      <input name="title" value="<%=result.title%>" />
      <input name="content" value="<%=result.content%>" />
      <button type="submit">수정하기</button>
    </form>
  </body>
</html>
