<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css" />
    <script src="https://kit.fontawesome.com/06a873e6b2.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav>
      <a href="/"><i>###</i></a>
      <a href="/list">글목록</a>
      <a href="/write">글쓰기</a>
      <div class="rightArea">
        <a href="/myPage">MY PAGE</a>
        <a href="/message"><i class="fa-regular fa-comments"></i></a>
      </div>
    </nav>
  </body>
</html>
