<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>로그인</title>
    <link rel="stylesheet" href="/main.css" />
  </head>
  <body>
    <%- include("nav.ejs")%>

    <form action="/login" method="POST">
      <h3>로그인</h3>
      <div class="gap8">
        <label for="">아이디</label>
        <input type="text" name="username" />
      </div>
      <div class="gap8">
        <label for="">비밀번호</label>
        <input type="password" name="password" />
      </div>
      <button class="submitBtn" type="submit">전송</button>
    </form>
  </body>
</html>
