<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>리스트</title>
    <link rel="stylesheet" href="/css/main.css" />
    <script src="https://kit.fontawesome.com/06a873e6b2.js" crossorigin="anonymous"></script>
  </head>
  <body style="display: flex">
    <%- include("nav.ejs")%>
    <div class="myPage">
      <div class="userImage">
        <img src="/img/userImg.png" alt="유저 기본이미지" />
      </div>
      <div class="userInfo">
        <p><%=username%></p>
        <a href="/editProfile" method="GET" class="edit">프로필 편집</a>
        <ul class="userState">
          <li>게시물 <span></span></li>
          <li>팔로워 <span></span></li>
          <li>팔로우 <span></span></li>
        </ul>
        <h6></h6>
        <h6><%=user.intro%></h6>
      </div>
    </div>
  </body>
</html>
