<nav>
  <a href="/"><i>###</i></a>
  <a href="/list">글목록</a>
  <a href="/write">글쓰기</a>

  <div class="rightArea">
    <a href="/myPage">MY PAGE</a>
    <a href="/message"><i class="fa-regular fa-comments"></i></a>
    <a href="/login">LOG IN</a>
    <a href="/register">회원가입</a>
  </div>
</nav>
