<nav>
  <a href="/list">
    <img src="/img/logo.png" alt="" />
  </a>
  <a href="/list">
    <p><i class="fa-solid fa-house"></i></p>
    <span>홈</span>
  </a>
  <a href="/write">
    <p><i class="fa-regular fa-square-plus"></i></p>
    <span>만들기</span>
  </a>
  <a href="/message">
    <p><i class="fa-regular fa-comments"></i></p>
    <span>메시지</span>
  </a>
  <a href="">
    <p><i class="fa-regular fa-heart"></i></p>
    <span>알림</span>
  </a>
  <a href="/myPage">
    <p></p>
    <span>프로필</span>
  </a>
</nav>
