<nav>
  <a href="/"><i>###</i></a>
  <a href="/list">List</a>
  <a href="/write">Write</a>

  <div class="rightArea">
    <a href="/login">LOG IN</a>
    <a href="/register">회원가입</a>
    <a href="/myPage">MY PAGE</a>
  </div>
</nav>
