<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>가입하기</title>
    <link rel="stylesheet" href="/css/main.css" />
    <script src="https://kit.fontawesome.com/06a873e6b2.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="registerPage">
      <div class="registerBox">
        <div class="logo">
          <img src="/img/logo.png" alt="" />
        </div>
        <form action="/register" method="POST">
          <h5>친구들의 사진과 동영상을 보려면 가입하세요.</h5>
          <div class="overChk">
            <input type="text" name="nickname" placeholder="닉네임" />
            <span> <i class="fa-regular fa-circle-check"></i></span>
          </div>
          <div class="overChk">
            <input type="text" name="username" placeholder="아이디" />
            <button class="overlapChk">확인</button>
          </div>
          <input type="password" name="password" placeholder="비밀번호" />
          <div class="overChk">
            <input type="password" name="passwordCheck" onInput="pwCheck2()" placeholder="비밀번호확인" />
            <span><i class="fa-regular fa-circle-check"></i></span>
          </div>
          <button class="submitBtn" type="submit">가입</button>
        </form>
      </div>
      <div class="loginBox">
        <p>계정이 있으신가요? <a href="/">로그인</a></p>
      </div>
    </div>

    <script>
      let passwordCheck;
      let overlapChk = document.querySelector(".overlapChk");
      let submitBtn = document.querySelector("form > .submitBtn");

      overlapChk.addEventListener("click", function (e) {
        e.preventDefault();
        let id = document.getElementsByName("username")[0].value;
        console.log(id);

        fetch("/chkDuplication", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ username: id }),
        })
          .then((r) => r.json())
          .then((json) => {
            console.log(json);
            if (json.result === null && id) {
              alert("사용가능 한 아이디입니다.");
            } else if (id == "") {
              alert("빈칸입니다.");
            } else {
              alert("중복 된 아이디입니다.");
            }
          });
      });

      function pwCheck2() {
        let pw = document.getElementsByName("password")[0].value;
        let pwCheck = document.getElementsByName("passwordCheck")[0].value;
        if (pw == pwCheck) {
          pwWarning.innerText = "비밀번호가 일치합니다.";
          submitBtn.disabled = false;
        } else {
          pwWarning.innerText = "비밀번호가 일치하지않습니다.";
        }
      }
    </script>
  </body>
</html>
