<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/main.css" />
  </head>
  <body>
    <%-include("nav.ejs")%>

    <form action="/new-post" method="POST" enctype="multipart/form-data" class="writeForm">
      <h3>글쓰기</h3>
      <div class="gap8">
        <input type="text" name="title" placeholder="제목을 입력하세요" />
      </div>
      <div class="gap8">
        <textarea name="content"></textarea>
      </div>
      <input type="file" name="img1" accept="image/*" multiple />
      <button class="submitBtn" type="submit">전송</button>
    </form>
  </body>
</html>
