<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0" />
    <title>새 게시물 만들기</title>
    <link rel="stylesheet" href="/css/main.css" />
    <script src="https://kit.fontawesome.com/06a873e6b2.js" crossorigin="anonymous"></script>
  </head>
  <body style="display: flex">
    <%-include("nav.ejs")%>
    <div class="writePage">
      <form action="/new-post" method="POST" enctype="multipart/form-data" class="writeForm">
        <div class="titleBtnBar">
          <i class="fa-solid fa-arrow-left"></i>
          <h4>새 게시물 만들기</h4>
          <button type="submit">게시하기</button>
        </div>
        <div class="content">
          <div class="imgBox">
            <img src="" alt="미리보기" />
            <label for="file">파일찾기</label>
            <input name="upLoadImg" type="file" id="file" accept="image/*" onchange="onChange()" />
          </div>
          <div class="userInfo">
            <div class="userNm"><%=user.username%></div>
            <textarea name="content" placeholder="문구를 입력하세요" oninput="textCount()" value=""></textarea>
            <div class="count"><span>0</span>/ 2200</div>
          </div>
        </div>
      </form>
    </div>

    <script>
      let finder = document.querySelector(".imgBox input");
      let label = document.querySelector(".imgBox label");
      let imgBox = document.querySelector(".imgBox");
      let textLength = document.querySelector("textarea");
      let count = document.querySelector(".count span");
      let warning = document.querySelector(".count");

      let maxLength = 2200;

      function onChange(e) {
        console.log(document.querySelector("input[type='file']").files[0]);
        console.log(finder.value);
        let img = document.querySelector(".imgBox img");
        let reader = new FileReader();

        reader.onload = function (e) {
          img.setAttribute("src", e.target.result);

          label.style.cursor = "default";
          finder.setAttribute("disabled", "");
          console.log(finder.e.target.result);
        };

        reader.readAsDataURL(event.target.files[0]);
      }

      function textCount() {
        let totalCount = textLength.value.length;

        textLength.addEventListener("keydown", function () {
          if (totalCount >= maxLength) {
            textLength.value = textLength.value.substr(0, maxLength);
            warning.style.color = "red";
          } else {
            warning.style.color = "#ccc";
          }
        });
        count.innerText = totalCount;
      }
    </script>
  </body>
</html>
