body {
  a {
    color: inherit;
    text-decoration: none;
    padding: 0 16px;
  }
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    font-weight: normal;
  }

  nav {
    display: flex;
    align-items: center;
    height: 60px;
    border-bottom: 3px double #999;
    position: relative;
  }
  nav > a:first-child {
    width: 120px;
    font-weight: 900;
    font-size: 30px;
  }
  nav .rightArea {
    position: absolute;
    right: 8px;
  }
  /* nav .rightArea a:last-child {
    display: none;
  } */
  table {
    border-collapse: collapse;
    box-sizing: border-box;
    margin: 40px 0;
    width: 100%;
  }
  table .indexRow {
    border-top: 2px solid #ccc;
    border-bottom: 1px solid #ddd;
  }
  table .indexRow th {
    padding: 8px 0;
  }
  table .titleRow {
    border-bottom: 1px solid #eee;
  }
  table .titleRow td {
    padding: 8px 0;
  }
  table .titleRow td:first-child {
    padding-left: 12px;
    width: 70%;
  }
  table .titleRow td:first-child h4 {
    display: inline;
  }
  table .titleRow td:first-child span i {
    color: #aaa;
  }
  table .titleRow td:nth-child(2) {
    width: 16%;
    text-align: center;
  }
  table .titleRow td:last-child {
    width: 14%;
    text-align: center;
  }
  .searchBox {
    width: 260px;
    margin: 0 auto;
  }
  .searchBox .search {
    width: 176px;
    margin: 0 auto;
    padding: 4px 12px;
    border: none;
    border-bottom: 1px solid #999;
  }
  .searchBox .searchBtn {
    background-color: #ddd;
    border: none;
    padding: 4px 12px;
    border-radius: 2px;
  }
  .content {
    padding: 20px;
  }
  .content img {
    width: 360px;
  }
  .content h5 {
    display: flex;
    align-items: center;
    padding: 12px;
  }
  .content h5 i {
    padding-left: 8px;
    display: block;
    width: 12px;
    height: 12px;
    transition: 0.2s;
  }
  .content h5 i:hover {
    cursor: pointer;
    color: tomato;
  }
  .content h5:first-child {
    justify-content: end;
  }

  .writeForm {
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
    height: 320px;
    padding: 12px;
    border-radius: 10px;
  }
  .writeForm h4 {
    text-align: center;
    font-size: 20px;
    letter-spacing: 1px;
  }
  .writeForm .gap8 {
    display: flex;
    gap: 8px;
    margin: 0 auto;
    width: 400px;
  }
  .writeForm .gap8 label {
    width: 120px;
    text-align: center;
  }
  .writeForm .gap8 input {
    width: 600px;
  }
  .writeForm textarea {
    width: 600px;
    height: 120px;
    resize: none;
  }
  .writeForm input[type="file"] {
    position: absolute;
    right: 0px;
    bottom: 52px;
  }
  .writeForm button[type="submit"] {
    width: 100px;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    bottom: 12px;
  }
  .idWarning,
  .pwWarning {
    text-align: center;
    font-size: 0.92rem;
  }
  .commentBox {
    position: relative;
    background-color: #faf7f7;
    padding: 20px;
    margin-top: 60px;
  }
  .commentBox button {
    position: absolute;
    padding: 8px 12px;
    cursor: pointer;
  }
  .commentBox button:first-child {
    top: -48px;
    background-color: #fff;
    border: 1px solid #ddd;
  }
  .commentBox button span {
    color: rgb(255, 38, 0);
    padding-left: 8px;
  }
  .commentBox .comment {
    list-style: none;
  }
  .commentBox textarea {
    width: 100%;
    height: 80px;
    padding: 8px;
    box-sizing: border-box;
    border: none;
    resize: none;
  }
  .commentBox textarea + button {
    right: 32px;
    bottom: 32px;
    border: none;
    background-color: rgb(255, 83, 71);
    color: white;
  }
  .comment {
    margin: 0;
    padding-left: 12px;
    padding-bottom: 30px;
  }
  .comment li {
    padding: 4px 0;
  }
  .comment p {
    margin: 0;
    padding: 4px 0;
  }
  .comment li span {
    padding: 0 8px;
  }
  .messageContainer {
    background: #444;
  }
  .messageContainer div {
    width: 300px;
    height: 500px;
    border-radius: 10px;
  }
}
