/* 공통 */
body {
  a {
    color: inherit;
    text-decoration: none;
    padding: 0 16px;
  }
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    font-weight: normal;
    text-align: center;
  }
  form:not(.messageBox form) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    height: 360px;
    padding: 12px;
  }
  form h3 {
    padding-bottom: 20px;
  }
  input,
  textarea {
    border: 1px solid #ddd;
    padding: 4px;
  }
  textarea {
    resize: none;
  }
  label {
    font-size: 0.86rem;
    width: 120px;
    text-align: right;
  }
  button,
  .infoBar .editDelBtn a {
    width: 80px;
    cursor: pointer;
    padding: 4px 12px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 2px;
  }
  nav {
    display: flex;
    align-items: center;
    height: 60px;
    border-bottom: 3px double #999;
    position: relative;
  }
  nav > a:first-child {
    width: 120px;
    font-weight: 900;
    font-size: 30px;
  }
  nav .rightArea {
    position: absolute;
    right: 8px;
  }
  table {
    border-collapse: collapse;
    box-sizing: border-box;
    margin: 40px 0;
    width: 100%;
  }
  .gap8 {
    gap: 8px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 400px;
    padding: 4px 0;
  }
  .submitBtn {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
  }

  /* 개별 */
  table .indexRow {
    border-top: 2px solid #ccc;
    border-bottom: 1px solid #ddd;
  }
  table .indexRow th {
    padding: 8px 0;
  }
  table .titleRow {
    border-bottom: 1px solid #eee;
  }
  table .titleRow td {
    padding: 8px 0;
  }
  table .titleRow td:first-child {
    padding-left: 12px;
    width: 70%;
  }
  table .titleRow td:first-child h4 {
    display: inline;
  }
  table .titleRow td:first-child span i {
    color: #aaa;
  }
  table .titleRow td:nth-child(2) {
    width: 16%;
    text-align: center;
  }
  table .titleRow td:last-child {
    width: 14%;
    text-align: center;
  }
  .searchBox {
    width: 300px;
    margin: 0 auto;
  }
  .searchBox input {
    width: 176px;
    border: none;
    border-bottom: 1px solid #ddd;
  }
  .searchBox button {
    background-color: #ddd;
  }
  .infoBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
  }
  .infoBar .editDelBtn {
    display: flex;
    align-items: center;
    gap: 4px;
  }
  .infoBar .editDelBtn a {
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    font-size: 0.86rem;
  }
  .content {
    padding: 20px;
  }
  .content h5 {
    display: flex;
    align-items: center;
    padding: 12px 0;
  }
  .content .substance {
    padding: 24px 12px;
  }
  .content img {
    width: 360px;
  }
  .writeForm input[type="text"] {
    width: 600px;
    border: none;
    border-bottom: 1px solid #ddd;
  }
  .writeForm textarea {
    width: 600px;
    height: 120px;
  }
  .writeForm input[type="file"] {
    position: absolute;
    right: 0px;
    bottom: 52px;
    border: none;
  }
  .idWarning,
  .pwWarning {
    text-align: center;
    font-size: 0.92rem;
  }
  .commentBox {
    position: relative;
    background-color: #faf7f7;
    padding: 20px;
    margin-top: 60px;
  }
  .commentBox button {
    position: absolute;
  }
  .commentBox button:first-child {
    top: -48px;
  }
  .commentBox button span {
    color: rgb(255, 38, 0);
    padding-left: 8px;
  }
  .commentBox .comment {
    list-style: none;
  }
  .commentBox textarea {
    width: 100%;
    height: 80px;
    padding: 8px;
    box-sizing: border-box;
    border: none;
    resize: none;
  }
  .commentBox textarea + button {
    right: 32px;
    bottom: 32px;
    border: none;
    background-color: rgb(255, 83, 71);
    color: white;
  }
  .comment {
    margin: 0;
    padding-left: 12px;
    padding-bottom: 30px;
  }
  .comment li {
    padding: 4px 0;
  }
  .comment p {
    margin: 0;
    padding: 4px 0;
  }
  .comment li span {
    padding: 0 8px;
  }
  .messageCon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
  }
  .messageCon > .messageBox {
    width: 400px;
    height: 500px;
    border-radius: 10px;
    z-index: 100;
    background-color: #fff;
    border: 3px double #bbb;
    position: relative;
    box-sizing: border-box;
    box-shadow: 5px 5px 20px 5px #ddd;
  }
  .messageCon .messageBox form {
    border-top: 1px solid #bbb;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 8px 12px;
    box-sizing: border-box;
  }
  .messageCon .messageBox form input {
    padding: 4px;
    width: 310px;
  }
  .messageCon .messageBox form button {
    border: 0;
    width: 40px;
    color: #bbb;
  }
  .messageCon .messageBox form button:hover {
    color: tomato;
  }
}
